<ul class="highlight-list" >
<% documents.each(function(document){ %>
  <li class="highlight-list" ><a href='#/documents/<%= document.id %>'><%= document.escape('title') %></a></li>
<% }) %>
</ul>
<a href="#" id="upload-doc">start upload</a>