<ul class="highlight-list" >
<li><input type="file" name="document[pdf]" id="pdf-location" value="upload pdf" target="upload_frame" ></li>
<li><a href="#" id="upload-doc">start upload</a></li>
</ul>

<ul class="highlight-list" >
<li class="divider"></li>

<% documents.each(function(document){ %>
  <li class="highlight-list" ><a href='#/documents/<%= document.id %>'><%= document.escape('title') %></a></li>
<% }); %>
</ul>
		

