<script type="text/javascript">
$(function(){ 
	
	
	
	var $pdfInput = $("#pdf-location");
	var $response = $('#response');
	var formData = false;

	var docs = <%= Document.first.to_json.html_safe %>; 
	
	window.PT.initialize($('#doc-list'), $('#pdf-reader'), $('#tag-listing'), docs);

	
	function showUploadedItem(title) {
		var $list = $("pdf-list");
		var $li = $('<li></li>');
		$li.append(title);
		$list.append($li);
	}

}); 
</script>
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">PDFtagger</a>
    <ul class="nav">
      <li class="active"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
</div>

<div class="row" id="main-content">
    <div class="span4">
	<div class="doc-box">
	  <h1>Doc List</h1><br>
  	  <!-- <% Document.all.each do |doc| %>
	  
	  <%= doc.title %><br>
	  
  	  <% end %> -->
		  
		  <div id='doc-list'></div>
  	
	  <br>
	     <div class="container">
	
		
				
			<div id="response"></div>
			<ul id="pdf-list">
			</ul>
			
			
		</div>
		
		
			
		
     </div>
	  </div>
  <div class="span12 offset-2">
	  <div id="pdf-reader" class="well"></div>
  
  </div>
  <div class="span2">
	   <div class="tag-box">
	   <h1>Tags</h1>
	   <div id="tag-listing" class="highlight-list" ></div>
  	   </div>
  </div>
</div>

