@import "bootstrap";

/* universal */

html {
//  overflow-y: scroll;
//  overflow-x: scroll;
}

body {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  	background: yellow;
}
#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: pink;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.inline {
  display :inline;
  padding-right: 10px;
}

button {
  margin-right: 10px;
  margin-left: 10px;
}

.dropDownThemes {
  margin-left: 80px;
}

.dropDownItem {
  color:blue;

  padding-left:25px;

  cursor:hand;

}

#pdf-reader {
	white-space: pre-wrap;
	word-wrap: break-word;
}


.dropDownItem:hover {
  color:white;
  background:blue;
  padding-left:25px;
  cursor:hand;

}

.dream-name-text:hover {
  color:white;
  background:blue;
};

#item-input-field {
  margin-left: 10px;
  margin-top: 5px;

}

.dropdown-menu li:hover {
  color:white;
  background:blue;
};


#main-content {
	padding-top: 40px;
	padding-left: 10px;
}

#Selection { width: 150px;
  	 	  height: 150px;
		 padding: 0.5em;
		 opacity: 0.8;
    border-width: 4px;
    border-style: dashed; }

.selection-buttons {
  	  width: 50px;
  	   }
.inputTaskTextArea{
  	   	 width:  600px; 
  		 height: 20px;
  		 resize: none;
  	   }
	   
.reader-content {
	padding-top:20px;
}

.nav-toolbar{
	width: 800px;
	height: 10px;
	
}

#frame-view {
	overflow:hidden;
}

.tag-box {
	position: fixed;
}
 
.doc-box {
	position: fixed;
	width: 200px;
}

 
.highlight-list ul {
  list-style-type: none;
  list-style:none;
  margin: 0;
  padding: 0;
}
 
.highlight-list li {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  list-style:none;
}
 
.highlight-list li:last-child {
  border: none;
}
 
.highlight-list li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.highlight-list li a:hover {
  font-size: 20px;
  background: #f6f6f6;
}

.start-selection {
	position: fixed;
	top: 0px;
	height: 55px;
}

.selection-label {
	margin-top: 500 50%;
}

.reader-bar {
	background: #F2DCE5;
	opacity: 0.7;

}

.devise-auth {
	position: relative;
	margin-top: 100px;
	width: 250px;
	
}

