<!DOCTYPE html>
<html>
<!-- <script type="text/javascript" src="http://github.com/malsup/media/raw/master/jquery.media.js?v0.92"></script> -->
<head>
  <title>PDFtagger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
   <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
   <script src="http://cdn.jsdelivr.net/jquery.metadata/2.0/jquery.metadata.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>


</body>
</html>
